heiko_weights_1.npy filter=lfs diff=lfs merge=lfs -text
imsrg_heiko2.npy filter=lfs diff=lfs merge=lfs -text
imsrg_heiko3.npy filter=lfs diff=lfs merge=lfs -text
heiko_biases_1.npy filter=lfs diff=lfs merge=lfs -text
heiko_train_1.npy filter=lfs diff=lfs merge=lfs -text
heiko_train_s_1.npy filter=lfs diff=lfs merge=lfs -text
imsrg_heiko.npy filter=lfs diff=lfs merge=lfs -text
imsrg_heiko_s2.npy filter=lfs diff=lfs merge=lfs -text
imsrg_heiko_s3.npy filter=lfs diff=lfs merge=lfs -text
imsrg_heiko_s.npy filter=lfs diff=lfs merge=lfs -text
